body,p,ul,h1,h2,h3,h4,input{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
    background: #eeeff0;
}
.weather{
    -webkit-transition: height .3s linear;
    text-align: left;
}
.air{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    padding: 0 6px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.air .qt{
    float: left;
    color: #b7babe;
    font-size: 24px;
    top: 3px;
    width: auto;
    line-height: 35px;
    margin:3px 0 0 2px;
}
.air>p{
    color: #8c8c8c;
    float: left;
    font-size: 20px;
    padding-left: 5px;
}
.air .bjair{
    float: left;
    position: relative;
    top: 7px;
    padding: 0 2px 0 7px;
}
.air .bjair p{
    margin: 0;
    height: 13px;
    text-align: left;
    line-height: 13px;
    font-size: 11px;
    color: #999;
}
.air .xs{
    display: inline-block;
    color: #b6b7ba;
    vertical-align: bottom;
    bottom: 0;
    font-size: 16px;
    top: 4px;
    width: auto;
    line-height: 28px;
    margin-left: 2px;
}
.weather .detail{
    width: 100%;
    z-index: 2;
    height: 248px;
    background: #4ABFF4 url(../images/asam.jpg);
    background-size: 100% 248px;
    display: none;
}
.weather .detail .del{
    padding: 12px 0 8px 14px;
    position: relative;
}
.del .bj{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.del .bj span:first-child{
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    font-size: 14px;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 8px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 2px;
}
.del .bj .wz{
    position: absolute;
    font-size: 18px;
    left: 2px;
    bottom: 1px;
}
.del .bj span:nth-child(2){
    margin-left: 5px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
}
.waer{
    margin-top: 5px;
    height: 73px;
    line-height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.waer p:first-child{
    font-size: 63px;
    margin: 0;
    float: left;
}
.waer .qte{
    height: 60px;
    float: left;
    font-size: 35px;
    position: relative;
    top: 12px;
    left: 4px;
    display: block;
    width: 60px;
    line-height: 60px;
    z-index: 3;
}
.waer span{
    position: relative;
    font-size: 14px;
    top: 10px;
}
.deg{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}
p{
    margin: 0;
}
.aier{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}
.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.toggle .asa{
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 20px;
    line-height: 26px;
}
.more{
    display: block;
    position: absolute;
    right: 14px;
    bottom: 13px;
    height: 18px;
    line-height: 18px;
    width: 57px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.day{
    padding: 9px 0 8px 0;
    font-size: 12px;
    width: 100%;
    margin: 0;
    list-style: none;
    height: 72px;
    text-align: center;
    /*display: -webkit-box;*/
    background-color: rgb(0, 0, 0, .1);
}
.day li{
    width: 25%;
    float: left;
    height: 100%;
    /*-webkit-box-flex:1;*/
    /*display: block;*/
}
.day li p:nth-child(odd){
    height: 20px;
    line-height: 20px;
}
.day li .aan{

}
.day li .mt{
    font-size: 28px;
    width: 32px;
    line-height: 30px;
    margin: 2px auto 0;
    margin-bottom: 3px;
}

.header{
    z-index: 2;
    padding-bottom: 10px;
}
.header .head{
    position: relative;
    height: 54px;
}
.login #gryh{
    position: absolute;
    top: 5px;
    right: 50px;
    padding: 3px;
    color: #9b9b9b;
    font-size: 28px;
    line-height: 20px;
    z-index: 9;
}
.login #gryh .yh{
    color: #666;
    font-size: 20px;
}
#skin{
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 3px;
    color: #9b9b9b;
    font-size: 28px;
    line-height: 20px;
    z-index: 9;
}
#skin .hf{
    color: #666;
    font-size: 25px;
}
.logo{
    height: 55px;
    padding: 17px 0 15px;
}
.logo img{
    width: 175px;
    height: 55px;
}
.indexform{
    height: 42px;
    margin: 0 10px;
    border: 1px solid #9b9b9b;
    border-bottom: 1px solid #bcbcbc;
    background: #fff;
}
.con-warp{
    width: 100%;
    display: -webkit-box;
}
.indexform .input{
    margin: 0;
    width: 62%;
    float: left;
    padding: 7px 42px 7px 6px;
    line-height: 28px;
    border: none;
}
.inner{
    float: right;
    text-align: right;
    width: 82px;
    position: relative;
}
.call{
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 10;
}
.call .ado{
    float: left;
    width: 39px;
    height: 39px;
    text-align: left;
    /*display: none;*/
}
.call .ado .bef{
    float: right;
    position: absolute;
    top: 14px;
    right: 6px;
    width: 8px;
    height: 8px;
    border: 4px solid transparent;
    background: url(../images/sfe.png)no-repeat;
    background-size: 8px 8px;
}
.call .ado .bef:hover{
    transform: rotateX(180deg);
}
.call .shan{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 42px;
    display: none;
    background: url(../images/clear.png) no-repeat center;
    -webkit-background-size: 16px;
    background-size: 16px;
}
.a2{
    transform:rotateZ(180deg);
}
.ly{
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 14px;
    background: url(../images/mmsicon.png)1px 0 no-repeat;
    background-size: 33px 19px;
}
.btn{
    float: left;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 82px;
    height: 42px;
    background: #38f;
    color: #fff;
    white-space: nowrap;
    line-height: 42px;
    letter-spacing: -1px;
    font-size: 16px;
    border-top: 1px solid #38f;
    border-bottom: 1px solid #38f;
    box-sizing: inherit;
    border: none;
}
.pom{
    position: absolute;
    width: 104px;
    top: 51px;
    left: -70px;
    height: 40px;
    text-align: left;
    border: 1px solid #D1D1D1;
    display: none;
}
.pom:before,.pom:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    bottom: 100%;
}
.pom:before{
    border-bottom: 7px solid #d1d1d1;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 17%;
}
.pom:after{
    border-bottom: 6px solid #eeeff0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 18.5%;
}
.codes{
    float: left;
    width: 51px;
    height: 38px;
    background: #EEEFF0;
    text-align: center;
    border-right: 1px solid #cdcdcd;
}
.codes i{
    content: "";
    display: inline-block;
    margin-top: 9px;
    height: 20px;
    width: 24px;
    background: url(../images/mmsicon.png) 1px 0 no-repeat;
    background-size: 33px 19px;
    background-position: -13px 0;
}
.code{
    float: left;
    width: 51px;
    height: 38px;
    background: #EEEFF0;
    text-align: center;
}
.code i{
    content: "";
    display: inline-block;
    margin-top: 9px;
    height: 20px;
    width: 14px;
    background: url(../images/mmsicon.png) 1px 0 no-repeat;
    background-size: 33px 19px;
}
.nav{
    margin: 17px 0 14px;
    overflow: hidden;
    list-style: none;
    padding: 0;
}
.nav li{
    float: left;
    width: 16%;
    font-size: 12px;
    color: #666;
}
.nav li .new{
    display: block;
    margin-bottom: 4px;
    color: #666;
    font-size: 20px;
    height: 24px;
}

.hide{
    margin: 17px 0 14px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    display: none;
}
.hide li{
    float: left;
    width: 16%;
    font-size: 12px;
    color: #666;
}
.hide li .new{
    display: block;
    margin-bottom: 4px;
    color: #666;
    font-size: 20px;
    height: 24px;
}
i{
    display: block;
    margin-bottom: 4px;
    height: 24px;
}
.a1{
    transform:rotateZ(180deg);
    margin-bottom: 4px;
    height: 24px;
}
.xuan{
    width: 100%;
    height: 40px;
    margin-top: 6px;
    line-height: 41px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
.xuan .zi{
    display: inline-block;
    font-size: 16px;
    color: #333;
    width: 16%;
}
.xuan .actt{
    color: #38f !important;
}
.xuan .xian{
    width: 13%;
    height: 2px;
    background-color: #38f;
    margin: auto;
    margin-top: -2px;
    transform: translateX(-66.5%);
    transition-duration: .2s;
}
.blank{
    width: 100%;
    height: auto;
    /*background: #fff;*/
}
.blank .daohang{
    width: 100%;
    height: 209px;
    position: relative;
    background: #fff;
}
.pltitle{
    position: relative;
    margin: 2px 14px 0;
    height: 40px;
    text-align: left;
}
.pltitle h2{
    margin: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    color: #999;
}
.pltitle .edit{
    position: absolute;
    right: -12px;
    top: 0;
    width: 40px;
    height: 34px;
    text-align: center;
    line-height: 40px;
}
.pltitle .edit .gd{
    position: absolute;
    width: 40px;
    height: 34px;
    top: 0;
    left: 0;
    color: #b6b7ba;
    font-size: 20px;
}
.dhcontet{
    font-size: 14px;
    overflow: hidden;
    border-top: 1px solid #e6e6e6;
}
.dhcontet a{
    float: left;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 6px;
    width: 33.33%;
    height: 42px;
    line-height: 42px;
    border-right: 1px solid #f5f5f5;
}
.dhcontet a span{
    display: inline-block;
    position: relative;
    padding: 0 6px 0 5px;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}
.dhcontet a .jia{
    font-size: 20px;
    color: #b6b7ba;
}
.dhcontet a:nth-child(n+1) {
    border-bottom: 1px solid #f5f5f5;
}
.ref{
    position: absolute;
    top: 0;
    right: 22px;
    width: 82px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    color: #262626;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.ref .sx{
    position: absolute;
    top: 2px;
    left: -2px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #b6b7ba;
    font-size: 18px;
}
.tap{
    display: none;
    position: absolute;
    top: 33px;
    right: 6px;
    list-style: none;
    width: 91px;margin: 0;
    padding: 0;
    border: 1px solid #d9dde2;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    z-index: 1;
}
.tap li{
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
    line-height: 45px;
    color: #262626;
}
.tap li:last-child{
    border: 0;
}
.bjtitle{
    display: none;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.bjtitle h2{
    padding-left: 20px;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    margin: 0;text-align: left;
}
.blsac{
    display: block;
    position: absolute;
    padding-right: 5px;
    top: 8px;
    right: 15px;
    width: 22px;
}
.blsac img{
    width: 20px;
    height: 20px;
}
.zd{
    color: #aaa!important;
}
.clo{
    position: absolute;
    display: none;
    margin-right:4px;
    top: 14px;
    right: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.clo img{
    display: block;
    width: 16px;
    height: 16px;
}
.remo{
    padding: 0;
    width: 100%;
    font-size: 13px;
    background-color: transparent;
    line-height: 37px;
    display: inline-block;
    position: relative;
}
.data{
    margin-top: 8px;
    background: #fff;
    margin-bottom: 165px;
}
.pltitle{
    position: relative;
    margin: 2px 14px 0;
    height: 40px;
    text-align: left;
}
.pltitle h2{
    margin: 0;
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    color: #999;
}
.pltitle .edit{
    position: absolute;
    right: -12px;
    top: 0;
    width: 40px;
    height: 34px;
    text-align: center;
    line-height: 40px;
}
.pltitle .edit .gd{
    position: absolute;
    width: 40px;
    height: 34px;
    top: 0;
    left: 0;
    color: #b6b7ba;
    font-size: 20px;
}
.dhcontet{
    margin-top: -5px;
    font-size: 14px;
    overflow: hidden;
}
.dhcontet a{
    float: left;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0 6px;
    width: 33.3%;
    height: 42px;
    line-height: 42px;
    color: #262626;
}
.dhcontet a span{
    display: inline-block;
    position: relative;
    padding: 0 6px 0 5px;
    max-width: 100%;
    line-height: 37px;
    box-sizing: border-box;
}
.dhcontet a .jia{
    font-size: 20px;
    color: #b6b7ba;
}
.ref{
    position: absolute;
    top: 0;
    right: 22px;
    width: 82px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    color: #262626;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.ref .sx{
    position: absolute;
    top: 2px;
    left: -2px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #b6b7ba;
    font-size: 18px;
}
.hot{
    padding: 0 14px;
    text-align: left;
    margin-top: -5px;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
}
.hot li{
    float: left;
    display: inline-block;
    width: 50%;
    height: 42px;
    line-height: 42px;
    vertical-align: top;
}
.hot li .hots{
    display: inline-block;
    position: relative;
    padding-right: 17px;
    max-width: 86%;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #262626;
}
.hot li:nth-child(2) a {
    top: 6px;
    height: 36px;
    line-height: 30px;
}
li a.asd:after{
    content: "hot";
    height: 10px;
    width: 20px;
    background-color: #fb4343;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    display: block;
    text-align: center;
    top: 2px;
    right: -1px;
}
.hoesearch{
    height: 42px;
    line-height: 42px;
    text-align: right;
    border-top: 1px solid #f4f5f6;
}
.hoesearch a{
    display: inline-block;
    padding-right: 14px;
    font-size: 14px;
    color: #0058d2;
}
.pltcon{
    margin-top: -5px;
    font-size: 14px;
    overflow: hidden;
}
.gps{
    position: relative;
    margin: 8px 14px 14px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #262626;
}
.gps .gpas{
    display: inline-block;
    vertical-align: middle;
    max-height: 32px;
    overflow: hidden;
}
.gps p{
    line-height: 16px;
    font-size: 14px;
    color: #262626;
    padding-right: 70px;
}
.pltcon button{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    border: 1px solid #d2d6dd;
    border-radius: 2px;
    text-indent: 20px;
    font-size: 14px;
    background: transparent;
}
.gps span{
    position: absolute;
    right: 43px;
    width: 20px;
    height: 20px;
}
.gps span .wza{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    color: #919498;
    font-size: 20px;
}
.list{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.list li{
    width: 25%;
    float: left;
    text-align: center;
}
.list li a{
    display: inline-block;
    padding: 0 10px;
}
.list li a div{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 auto;
}
.list li a .rude{
    background: #b493db;
}
.list li a .pon{
    background: #ff6fbf;
}
.list li a .wm{
    background:#ff6b70;
}
.list li a .tax{
    background:#93a4b3;
}
.list li a .hotel{
    background:#6f99de;
}
.list li a .cacy{
    background: #ffa868;
}
.list li a .ktv{
    background: #b493db;
}
.list li a .huafei{
    background: #ff6b70;
}
.list li a i{
    font-size: 22px;
    line-height: 42px;
    color: #fff;
}
.list li a .rude img{
    width: 26px;
    height: 26px;margin-top: 8px;
}
.list li a p{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    margin: 3px 0 8px;
    color: #262626;
}
.lista{
    display: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.lista li{
    width: 25%;
    float: left;
    text-align: center;
}
.lista li a{
    display: inline-block;
    padding: 0 10px;
}
.lista li a div{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 auto;
}
.lista li a .rude{
    background: #b493db;
}
.lista li a .pon{
    background: #ff6fbf;
}
.lista li a .wm{
    background:#ff6b70;
}
.lista li a .tax{
    background:#93a4b3;
}
.lista li a .hotel{
    background:#6f99de;
}
.lista li a .cacy{
    background: #ffa868;
}
.lista li a .ktv{
    background: #b493db;
}
.lista li a .huafei{
    background: #ff6b70;
}
.lista li a i{
    font-size: 22px;
    line-height: 42px;
    color: #fff;
}
.lista li a .rude img{
    width: 26px;
    height: 26px;margin-top: 8px;
}
.lista li a p{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    margin: 3px 0 8px;
    color: #262626;
}
.trol{
    height: 47px;
    line-height: 47px;
    border-top: 1px solid #f0f0f0;
    margin-top: 4px;
    font-size: 16px;
    color: #262626;
}
.prompt{
    color: #333;
    font-size: 14px;
}
.arrow{
    color: #b6b7ba;
    padding: 0 6px;
    display: inline-block;
}
.shopping{
    padding: 9px 14px 13px 14px;
    text-align: left;
    display: block;
    position: relative;
}
.shopping img{
    width: 90px;
    height: 90px;
    float: left;
}
.shop{
    width: 62%;
    height: 90px;
    margin-left: 104px;
}
.shop .baoyou{
    max-width: 100%;
    height: 20px;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    color: #333;
    margin-top: -4px;
}
.tap{
    display: none;
    position: absolute;
    top: 33px;
    right: 6px;
    list-style: none;
    width: 91px;margin: 0;
    padding: 0;
    border: 1px solid #d9dde2;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    z-index: 1;
}
.tap li{
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
    line-height: 45px;
    color: #262626;
}
.tap li:last-child{
    border: 0;
}
.guanli{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #fff;
    font-size: 14px;
    margin-top: -156px;
    color: #333;
}
.bottom{
    width: 100%;
    height: 207px;
    margin-bottom: 54px;
}
.bottom ul{
    width: 319px;
    height: 99px;
    margin: 0 28px;
}
.bottom ul li{
    width: 100%;
    line-height: 33px;
    height: 33px;
    text-align: left;
}
.bottom ul li a{
    font-size: 12px;
    color: #555;
}
.bottom ul li .span{
    width: 16px;
    height: 11px;
    display: inline-block;
    background: url("../images/hot1.png")no-repeat;
    background-size: 16px 11px;
    margin-right: 5px;
}
.bottom ul li .span1{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/bai.png")no-repeat;
    background-size: 16px 16px;
    margin-right: 5px;
}
.yonghu{
    width: 100%;
    height: 34px;
    margin-top: 10px;
}
.yonghu a{
    position: relative;
    display: inline-block;
    height: 34px;
    width: 95px;
    line-height: 34px;
    color: #666;
    font-size: 13px;
}
.yonghu a i{
    position: absolute;
    top: 8px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/xiazai.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.daoyi{
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 6px 0 0;
    color: #999;
}
.daoyi1{
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 0 20px;
    color: #999;
}
.blank2{
    width: 100%;
    height: auto;
    background: #fff;
}
.san{
    width: 90%;
    height: 183px;
    margin: 0 5%;
}
.san h2{
    padding-top: 11px;
    font-weight: normal;
    color: #333;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.san .tu{
    margin-top: 8px;
    margin-bottom: 12px;
}
.san .tu img{
    width: 33.3%;
    height: 100%;
}
.san .shijian{
    width: 100%;
    height: 20px;
}
.san .shijian span{
    color: #999;
    float: left;
    font-size: 12px;
    text-align: left;
}
.yi{
    width: 90%;
    height: 74px;
    margin: 0 5%;
    padding: 15px 0;
}
.yi .left{
    width: 33.3%;
    height: 100%;
    float: left;
}
.yi .left img{
    width: 110px;
}
.yi h2{
    width: 62%;
    float: right;
    padding-left: 14px;
    font-weight: normal;
    color: #333;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.yi .shijian{
    width: 62%;
    float: right;
    margin-top: 9px;
    padding-left: 14px;
}
.yi .shijian span{
    color: #999;
    float: left;
    font-size: 12px;
    text-align: left;
}
